---
layout: archive
title: "KDP Creations"
permalink: /kdpcreations/
author_profile: true
---
{% include base_path %}
<p>Welcome to my KDP Creations page! In my free time I love self-publishing my own books 📖 by means of <a href="https://kdp.amazon.com/">Amazon Kindle Direct Publishing</a> service. Here you will find a collection of my self-published books that combine creativity, practicality, and fun. </p>

<img src="/images/kdp_creations_logo.jfif" alt="kdp_logo" style="float: right; width: 300px; margin-left: 15px;">

</p>Whether you're looking for engaging activity books for children, practical planners, or fitness logbooks to track your progress, there’s something here for everyone. 

💡 Each book is carefully designed with the reader in mind, blending aesthetics with functionality to ensure a delightful and valuable experience.</p>

</p>I’m constantly exploring new ideas and experimenting with different formats and topics. I aim at creating books that not only serve a purpose but also bring joy and inspiration to those who use them.</p>

{% for post in site.kdpcreations reversed %}
  {% include archive-single.html %}
{% endfor %}

<p> Stay tuned for updates and new projects! 🌌✨ <p>
