---
layout: archive
title: "KDP Creations"
permalink: /kdpcreations/
author_profile: true
---
{% include base_path %}
Welcome to my KDP Creations page! In my free time I love self-publishing my own books by means of <a href="https://kdp.amazon.com/">Amazon Kindle Direct Publishing</a> service. Here you will find a collection of my self-published books. 
<div style="text-align: center;">
  <img src="/images/kdp_creations_logo.jfif" alt="kdp_logo" style="width: 200px;">
</div>

Stay tuned for updates and new projects! 🌌✨

{% for post in site.kdpcreations reversed %}
  {% include archive-single.html %}
{% endfor %}

