---
layout: archive
title: "Portfolio"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}
Welcome to my projects portfolio! Here you will find a collection of my data analysis and data science projects, alongside the code, that I have carried out. 
<img src="/images/portfolio_logo.jpg" alt="Illustration of combining vision and language modalities" style="float: right; width: 300px;">

Stay tuned for updates and new projects! 🌌✨
{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

